@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    background: rgb(18,20,23);
    background: radial-gradient(circle, rgba(18,20,23,1) 0%, rgba(34,43,56,1) 100%);
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container {
    background: rgb(24,29,36);
    background: linear-gradient(0deg, rgba(24,29,36,1) 65%, rgba(34,42,51,1) 100%);
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 30px;
    margin-top: 400px;
    height: 500px;
    width: 500px;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25), 0 18.8rem 5.2rem rgba(0, 0, 0, 0.01), 0 12.0rem 4.8rem rgba(0, 0, 0, 0.04), 0 6.8rem 4.1rem rgba(0, 0, 0, 0.15), 0 3.0rem 3.0rem rgba(0, 0, 0, 0.26), 0 .8rem 1.7rem rgba(0, 0, 0, 0.29), inset 0 .6rem .8rem rgba(255, 255, 255, 0.1), inset 0 -.4rem .5rem rgba(0, 0, 0, 0.22);
}

.card {
    padding: 20px;
    
}
.card img {
    width: 50px;
    background-color: hsl(213, 19%, 18%);
    padding: 14px;
    border-radius: 50px;
    margin-bottom: 30px;
}
.title {
    color: white;
    
}
.description {
    color: hsl(217, 12%, 63%);
    padding-top: 20px;
    
}
.btns {
    display: flex;
    justify-content: space-between;
}
.rate {
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    background-color: hsl(213, 19%, 18%);
    border: none;
    color: hsl(217, 12%, 63%);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}

.rate:hover {
    background-color: hsl(217, 12%, 63%);
    color: white;
    transition: all .3s;
}
.rate:focus {
    background-color: hsl(25, 97%, 53%);
    color: white;
}
.submit-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
}

.submit {
    width:100%;
    height: 50px;
    font-size: 18px;
    padding:0.7rem 0;
    text-transform: uppercase;
    border:none;
    border-radius: 2rem;
    background-color:hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top:30px;
}
.submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    transition: all .3s;
    cursor: pointer;
}
.plsrateus{
    text-decoration: underline;
    text-align: center;
}
.thanks{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-result{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
}

.rating-result p{
    background-color:hsl(213deg 19% 18%);
    color:hsl(25, 97%, 53%);
    border-radius: 1.5rem;
    padding:0.5rem 1rem;
    margin:1rem 0;
    
}

.thanks h1{
    color:hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom:1rem;
}
.appreciate{

    color:hsl(217, 12%, 63%);
    text-align: center;
    line-height: 1.5;
    font-size: 0.938rem;
    font-size: 0.85rem;
    padding:0.5rem;
}
.hidden{
    display:none;
}
.attribution {
    color: white;
    padding: 35px;
}